/* Section Description */
ul {
  margin-left: 2rem;
}

.card > img {
  height: 15rem;
}

/* Media Queries */

@media (min-width: 768px) {
  /* Section Description */
  .description {
    margin-top: 0;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .card > img,
  .card > h2 {
    width: 50%;
  }

  .card > h2 {
    text-align: center;
  }
}

@media (min-width: 1440px) {
}
