/* Section Description */
ul {
  margin-left: 2rem;
}

.card > img {
  height: 15rem;
}

/* Media Queries */

@media (min-width: 768px) {
  /* Section Description */
  .description {
    margin-top: 0;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .card > img,
  .card > h2 {
    width: 50%;
  }

  .card > h2 {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .group-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    flex-direction: column;
    width: 35%;
    position: relative;
    overflow: hidden;
  }

  .card:nth-child(2) {
    margin-top: 0;
  }

  .card > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
  }

  .card > h2 {
    z-index: 5;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    align-self: flex-start;
    text-align: left;
  }

  .img-card-hover {
    transform: translateX(-100%);
  }
}
