/* Section Description */
ul {
  margin-left: 2rem;
}

.card > img {
  height: 15rem;
}

/* Media Queries */

@media (min-width: 768px) {
  /* Section Description */
  .description {
    margin-top: 0;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .card > img,
  .card > h2 {
    width: 50%;
  }

  .card > h2 {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .card {
    flex-direction: column;
    width: 35%;
    position: relative;
    overflow: hidden;
  }

  .card > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
  }

  .img-card-hover {
    transform: translateX(-100%);
  }
}
